body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:url("bilder/bakgrunn-spill.jpeg");
    background-size: cover;
}


#game-over-box {
    display: none;
    position: fixed;
    z-index: 3; 
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: 2px solid black; 
    background-color: grey; 
    padding: 20px; 
    max-width: 400px; 
}




svg{
    background:url("bilder/bakke.jpeg");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.plante{
    width: 200px;
    height: 100px;
}

.blomst{
    width: 200px;
    height: 100px;
}

#start{
    margin: 20px;
}

.klikk{
    width: 200px;
    height: 100px;
}

#score-table {
    position: absolute;
    top: 40px; /* Adjust the top position as needed */
    right: 30px; /* Adjust the right position as needed */
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 2;
}

#score-table caption {
    font-weight: bold;
    padding: 8px;
    font-size: 20px;
}

#score-table th, #score-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}